.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo {
  font-weight: 600;
  font-size: 30px;
  margin: 50px;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

.top-bar {
  margin-top: 20px;
}

.NavBar {
  display: flex;
  display: inline;
}

.NavElement {
  margin: 0 3%;
  text-decoration: none;
  color: gray;
}

.search {
  margin-left: 25%;
  color: gray;
}

.search-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar-finder {
  margin:auto;
  margin-top: 7%;
  width: 50%;
  height: 35px;
}

.Weather-Info {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.weather-op{
  width: 15%;
  height: 275px;
  background-color:#beced3;
  border-radius: 20px;
  text-align: center;
  margin: 0.5%;
  margin-top: 7.5%;
  color: aliceblue;
}